@import './assets/fonts/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'inter';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(./assets/fonts/inter/static/Inter_18pt-Regular.ttf) format('truetype');
    }

    @font-face {
        font-family: 'inter';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(./assets/fonts/inter/static/Inter_18pt-Medium.ttf) format('truetype');
    }

    @font-face {
        font-family: 'inter';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(./assets/fonts/inter/static/Inter_18pt-SemiBold.ttf) format('truetype');
    }

    @font-face {
        font-family: 'inter';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(./assets/fonts/inter/static/Inter_18pt-Bold.ttf) format('truetype');
    }

    @font-face {
        font-family: 'noto-serif';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(./assets/fonts/noto-serif/static/NotoSerif-Regular.ttf) format('truetype');
    }

    @font-face {
        font-family: 'noto-serif';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(./assets/fonts/noto-serif/static/NotoSerif-Medium.ttf) format('truetype');
    }

    @font-face {
        font-family: 'noto-serif';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(./assets/fonts/noto-serif/static/NotoSerif-SemiBold.ttf) format('truetype');
    }

    @font-face {
        font-family: 'noto-serif';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(./assets/fonts/noto-serif/static/NotoSerif-Bold.ttf) format('truetype');
    }

    @font-face {
        font-family: 'source-code-pro';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(./assets/fonts/source-code-pro/static/SourceCodePro-Regular.ttf) format('truetype');
    }

    @font-face {
        font-family: 'source-code-pro';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(./assets/fonts/source-code-pro/static/SourceCodePro-Medium.ttf) format('truetype');
    }

    @font-face {
        font-family: 'source-code-pro';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(./assets/fonts/source-code-pro/static/SourceCodePro-SemiBold.ttf) format('truetype');
    }

    @font-face {
        font-family: 'source-code-pro';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(./assets/fonts/source-code-pro/static/SourceCodePro-Bold.ttf) format('truetype');
    }
}